@import "tailwindcss";

/* Custom color palette for Nomad Media Player (Zinc Theme) */

@theme {
   
    --color-background: #18181b; /* Zinc 900 */
    --color-surface: #1f2227;    /* Zinc 800 = #27272a */
    --color-primary: #3b82f6;    /* Blue 500 */
    --color-secondary: #71717a;  /* Zinc 500 */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-track {
background: #27272a; /* Zinc 800 */
}
::-webkit-scrollbar-thumb {
background: #52525b; /* Zinc 600 */
border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
background: #71717a; /* Zinc 500 */
}